@model Timetable.Models.NewTimetable
@{
    ViewBag.Title = Model.Id_Date;
}
<h2>Идентификатор пары @Model.Id_Date</h2>
<div>
    <dl class="dl-horizontal">
        <dt>День недели</dt>
        <dd>@Model.Week</dd>

        <dt>Время</dt>
        <dd>@Model.Time</dd>

        <dt>Целостность</dt>
        <dd>@Model.Integrity</dd>

        <dt>Курс</dt>
        <dd>@Model.Course</dd>

        <dt>Группа</dt>
        <dd>@Model.NumberGroup</dd>

        <dt>Преподаватель</dt>
        <dd>@Model.FIOteacher</dd>

        <dt>Пара</dt>
        <dd>@Model.NameLesson</dd>

        <dt>Аудитория</dt>
        <dd>@Model.NumberClass</dd>
    </dl>
</div>