@model Timetable.Models.TimetableU
@{
    ViewBag.Title = Model.Id_Date;
}
<h2>Дата и время пары @Model.Id_Date</h2>
<div>
    <dl class="dl-horizontal">
        <dt>День недели</dt>
        <dd>@Model.Week</dd>

        <dt>Время</dt>
        <dd>@Model.Time</dd>

        <dt>Id предмета</dt>
        <dd>@Model.Id_Lesson</dd>

        <dt>Id аудитории</dt>
        <dd>@Model.Id_Class</dd>

        <dt>Id преподавателя</dt>
        <dd>@Model.Id_Teacher</dd>

        <dt>Id пользователя</dt>
        <dd>@Model.Id_User</dd>

        <dt>Id группы</dt>
        <dd>@Model.Id_Group</dd>
    </dl>
</div>