@model IEnumerable<Timetable.Models.NewTimetable>
@{
    ViewBag.Title = "Список пар";
}
<h1>@ViewBag.Exception</h1>
<form asp-action="СhangeTimetable" asp-controller="Timetable">
    <div class="form-group">
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <a asp-action="CreateTimetable">Добавить пару</a>
        }
        <table class="table">
            <tr>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.WeekSort">
                        Неделя
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.TimeSort">
                        Время
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.CourseSort">
                        Курс
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.NumberGroupSort">
                        Группа
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.FIOteacherSort">
                        Преподаватель
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.NameLessonSort">
                        Предмет
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.NumberClassSort">
                        Аудитория
                    </a>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Week</td>
                    <td>@item.Time</td>
                    <td>@item.Course</td>
                    <td>@item.NumberGroup</td>
                    <td>@item.FIOteacher</td>
                    <td>@item.NameLesson</td>
                    <td>@item.NumberClass</td>
                    <td>
                        <a asp-action="DetailsTimetable" asp-controller="Timetable" asp-route-id="@item.Id_Date">Подробнее</a>
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <a asp-action="EditTimetable" asp-controller="Timetable" asp-route-id="@item.Id_Date">| Изменить</a>
                        }
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <a asp-action="DeleteTimetable" asp-controller="Timetable" asp-route-id="@item.Id_Date">| Удалить</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</form>
