@model IEnumerable<Timetable.Models.NewTimetable>
@{
    ViewBag.Title = "Список пар";
}

<form asp-action="СhangeTimetable" asp-controller="Timetable">
    <div class="form-group">
        <a asp-action="CreateTimetable">Добавить пару</a>
        <table class="table">
            <tr>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.DateSort">
                        Дата
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.CourseSort">
                        Курс
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.NumberGroupSort">
                        Группа
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.FIOteacherSort">
                        Преподаватель
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.NameLessonSort">
                        Предмет
                    </a>
                </th>
                <th>
                    <a asp-action="СhangeTimetable" asp-route-sortOrder="@ViewBag.NumberClassSort">
                        Аудитория
                    </a>
                </th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Date</td>
                <td>@item.Course</td>
                <td>@item.NumberGroup</td>
                <td>@item.FIOteacher</td>
                <td>@item.NameLesson</td>
                <td>@item.NumberClass</td>
                <td>
                    <a asp-action="DetailsTimetable" asp-controller="СhangeTimetable" asp-route-id="@item.Id_Date">Подробнее</a> |
                    <a asp-action="EditTimetable" asp-controller="СhangeTimetable" asp-route-id="@item.Id_Date">Изменить</a> |
                    <a asp-action="DeleteTimetable" asp-controller="СhangeTimetable" asp-route-id="@item.Id_Date">Удалить</a>
                </td>
            </tr>
            }
        </table>
    </div>
</form>
