@model IEnumerable<Timetable.Models.TimetableU>
@{
    ViewBag.Title = "Преподаватели";
}

<h2>Расписание @ViewBag.courseset курса @ViewBag.groupeset группы</h2>
<form method="post">
</form>

@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <div><a asp-action="СhangeTimetable" asp-controller="Timetable">Изменить расписание</a></div>
}

<table class="table" border="1" align="center">
    <tr>
        <th>Время</th>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
    </tr>
    @for (int y = 0; y < 8; ++y)
    {
        <tr><th rowspan="2">@ViewBag.time[y]</th>
            @for (int x = 0; x < 6; ++x)
            {
                @if (@ViewBag.pair[x, y, 1].Integrity.Replace(" ", "") == "Числитель" && @ViewBag.pair[x, y, 2].Integrity.Replace(" ", "") == "Знаменатель")
                {
                    <td>@ViewBag.pair[x, y, 1].NameLesson @ViewBag.pair[x, y, 1].NumberClass @ViewBag.pair[x, y, 1].FIOteacher</td>
                }
                else if (@ViewBag.pair[x, y, 1].Integrity.Replace(" ", "") == "Числитель")
                {
                    <td>@ViewBag.pair[x, y, 1].NameLesson @ViewBag.pair[x, y, 1].NumberClass @ViewBag.pair[x, y, 1].FIOteacher</td>
                }
                else if (@ViewBag.pair[x, y, 2].Integrity.Replace(" ", "") == "Знаменатель")
                {
                    <td></td>
                }
                else
                {
                    <td rowspan="2">@ViewBag.pair[x, y, 0].NameLesson @ViewBag.pair[x, y, 0].NumberClass @ViewBag.pair[x, y, 0].FIOteacher</td>
                }
            }
        </tr>
        <tr>
            @for (int x = 0; x < 6; ++x)
            {
                @if (@ViewBag.pair[x, y, 1].Integrity.Replace(" ", "") == "Числитель" && @ViewBag.pair[x, y, 2].Integrity.Replace(" ", "") == "Знаменатель")
                {
                    <td>@ViewBag.pair[x, y, 2].NameLesson @ViewBag.pair[x, y, 2].NumberClass @ViewBag.pair[x, y, 2].FIOteacher</td>
                }
                else if (@ViewBag.pair[x, y, 1].Integrity.Replace(" ", "") == "Числитель")
                {
                    <td></td>
                }
                else if (@ViewBag.pair[x, y, 2].Integrity.Replace(" ", "") == "Знаменатель")
                {
                    <td>@ViewBag.pair[x, y, 2].NameLesson @ViewBag.pair[x, y, 2].NumberClass @ViewBag.pair[x, y, 2].FIOteacher</td>
                }
             }
        </tr>
     }
</table>