@model IEnumerable<Timetable.Models.Classroom>
@{
    ViewBag.Title = "Аудитории";
}

<form asp-action="Classroom" asp-controller="Classroom">
    <div class="form-group">
        <a asp-action="CreateClassroom">Добавить аудиторию</a>
        <table class="table">
            <tr>
                <th>
                    <a asp-action="Classroom" asp-route-sortOrder="@ViewBag.Id_ClassSort">
                        Номер
                    </a>
                </th>
                <th>
                    <a asp-action="Classroom" asp-route-sortOrder="@ViewBag.TypeClassSort">
                        Тип
                    </a>
                </th>
                <th>
                    <a asp-action="Classroom" asp-route-sortOrder="@ViewBag.CapacitySort">
                        Вместимость
                    </a>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id_Class</td>
                    <td>@item.TypeClass</td>
                    <td>@item.Capacity</td>
                    <td>
                        <a asp-action="DetailsClassroom" asp-controller="Classroom" asp-route-id="@item.Id_Class">Подробнее</a> |
                        <a asp-action="EditClassroom" asp-controller="Classroom" asp-route-id="@item.Id_Class">Изменить</a> |
                        <a asp-action="DeleteClassroom" asp-controller="Classroom" asp-route-id="@item.Id_Class">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>
